<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boozingo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="com.boozingo.Boozingo"
        android:allowBackup="true"
        android:icon="@drawable/new_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.boozingo.splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.boozingo.splash_screen.SplashScreen"/>
        <activity android:name="com.boozingo.disclaimer.disclaimer" >

        </activity>
        <activity android:name="com.boozingo.disclaimer.terms_n_conditions" />
        <activity
            android:name="com.boozingo.cities.Cities"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name="com.boozingo.cities.MainSearch"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.boozingo.bars_n_pubs.bars_n_pubs"
            android:theme="@style/noActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name="com.boozingo.details.detailsActivityBar">

        </activity>
        <activity android:name="com.boozingo.details.detailsActivityPub" />
        <activity android:name="com.boozingo.details.detailsActivityBeer_shop" />
        <activity android:name="com.boozingo.details.detailsActivityLounge" />
        <activity android:name="com.boozingo.details.detailsActivityNight_club" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>