<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boozingo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".Boozingo"
        android:allowBackup="true"
        android:icon="@drawable/new_logo_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splash_screen.SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".disclaimer.disclaimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".disclaimer.terms_n_conditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cities.Cities"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cities.MainSearch"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".bars_n_pubs.bars_n_pubs"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar"
            android:windowSoftInputMode="stateHidden" >

        </activity>
        <activity
            android:name=".details.detailsActivityBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details.detailsActivityPub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details.detailsActivityBeer_shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details.detailsActivityLounge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details.detailsActivityNight_club"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ToolbarActivity">

        </activity>
    </application>

</manifest>